@use "../../foundation/mixin";
@use "../../foundation/base";

.p-hArticle{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 772px;
    text-align: center;


}

.p-headOver{
    position: relative;
    width: 806px;
    margin: 0 auto;
    text-align: center;    
    height: 234px;
}
.p-headFeature{
    text-align: center;
    width: 100%;
}
.p-headComp{
    width: 100%;
    text-align: center;
    margin-bottom: 11.2rem;
}
.p-headFlow{
    width: 100%;
    text-align: center;
    margin-bottom: 6rem;
}
.p-headEasy{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6.4rem;
    p{
        margin-top: 6rem;
    }
}
.p-headFaq{
    position: relative;
    width: 510px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6rem;
    &::before{
        position: absolute;
        content: '';
        display: block;
        top: 1.9rem;
        width: 106px;
        height: 2px;
        background: #000;
        transform: rotate(50deg);
        transform-origin: 0% 0%;

    }
    &::after{
        position: absolute;
        content: '';
        display: block;
        top: 2rem;
        right: -106px;
        background: #000;
        width: 106px;
        height: 2px;
        transform: rotate(130deg);
        transform-origin: 0% 0%;
    }

}


.p-comparison{
    &__beside{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8rem;
        flex-wrap: wrap;
        gap: 4rem;
    }
    &__vertical{
        display: block;
    }
    &__vertical:nth-child(2){
        margin-bottom: 8rem;
        .chart_1{
            width: 776px;
            height: 549px;
        }

    }
    &__vertical:nth-child(3){
        .chart_2{
            width: 870x;
            height: 535px;
        }
    }

}

.p-flow{
    &__single{
        padding-top: 9.4rem;
        position: relative;
        &:not(:last-of-type){
            margin-bottom: 3.2rem;
        }
    }
}

.p-card{
    width: 293px;
    img{
        width: 100%;
        height: 180px;
    }
    .card_text{
        height: 250px;
        padding: 2.4rem;
        border-left: 2px solid base.$mosBlue;
        border-right: 2px solid base.$mosBlue;
        border-bottom: 2px solid base.$mosBlue;
        p{
            font-weight: 400;
            line-height: 28.8px;
        }
    }
}

.p-faq{
    // overflow-y: auto;
    &__single{
        margin: auto;
        &:not(:last-of-type){
            margin-bottom: 4rem;
        }
        .active.c-question.c-lamp::before{
            background: base.$pink;
        }
        .active.c-anser{
            height: auto;
            padding: 48px 60px 40px 40px;
        }
        
    }
    
}


.p-footer-apply{
    margin: 0 auto 6rem;
    width: 58.2%;
}



/***************************************************************/
/*********************** メディアクエリ(tab) ********************/ 
/***************************************************************/
@include mixin.mq(tab){
    .p-hArticle{
        width: 579px;
        top: 43%;
    }

    .p-headOver{
        height: 473px;
    }

    .p-comparison{
        &__beside{
            width: 80.8%;
            margin: 0 auto 8rem;
        }
        &__vertical{
            width: 89.1%;
            margin: 0 auto 8rem;
        }
    }
}